<div class="ui raised segment">
  <h2 class="ui header">Template Form</h2>
  <!-- See https://toddmotto.com/angular-2-forms-template-driven -->

  <form
    novalidate
    (ngSubmit)="onSubmit(f)"
    #f="ngForm">
    <label>
      <!-- Using full ngModel and the form directly -->
      <span>Full name</span>
      <input
        type="text"
        placeholder="Your full name"
        name="name"
        [(ngModel)]="user.name"
        minlength="2"
        required>
      <div
        *ngIf="f.controls.name?.errors?.required && f.controls.name?.touched"
        class="error">
        Name is required
      </div>
      <div
        *ngIf="f.controls.name?.errors?.minlength && f.controls.name?.touched"
        class="error">
        Name must be at least 2 characters
      </div>
    </label>
    <div
      ngModelGroup="account"
      #userAccount="ngModelGroup">
      <div>
        <label>
          <!-- Using the ngModel one way bind and the event set back and setting the component to a local variable -->
          <span>Email address</span>
          <input
            type="email"
            placeholder="Your email address"
            name="email"
            #email="ngModel"
            (ngModelChange)="user.account.email = $event"
            [ngModel]="user.account.email"
            required>
        </label>
        <div
          *ngIf="email.errors?.required && email.touched"
          class="error">
          Email is required
        </div>
      </div>
      <div>
        <label>
          <!-- Using form only model and setting the component to a local variable -->
          <span>Confirm address</span>
          <input
            type="email"
            placeholder="Confirm your email address"
            name="confirm"
            #confirm="ngModel"
            ngModel
            required>
        </label>
        <div
          *ngIf="confirm.errors?.required && confirm.touched"
          class="error">
          Confirm is required
        </div>
      </div>
      <div
      *ngIf="userAccount.invalid && userAccount.touched"
      class="error">
      Both emails are required
    </div>
    </div>
    <button
      type="submit"
      class="ui positive button"
      [disabled]="f.invalid">
      Sign up
    </button>

    <div>
      <h2>Form raw</h2>
      <div>{{ f.value | json }}</div>
    </div>
  </form>
  <div>
    <h2>User raw</h2>
    <div>{{ user | json }}</div>
  </div>
</div>
