<div
  class="ui stackable grid container"
  *ngIf="true; let currentSection">
  <div class="six wide column">
    <div>
      <button
        (click)="currentSection = 'reactive'"
        class="ui positive button">
        Reactive
      </button>
    </div>
    <div>
      <button
        (click)="currentSection = 'template'"
        class="ui positive button">
        Template
      </button>
    </div>
  </div>

  <div
    class="ui main text container ten wide column"
    [ngSwitch]="currentSection">
    <div *ngSwitchCase="'reactive'">
      <reactive-driven></reactive-driven>
    </div>
    <div *ngSwitchCase="'template'">
      <template-driven></template-driven>
    </div>
    <div *ngSwitchDefault>WAT!</div>
  </div>
</div>
