<div class="ui raised segment">
  <h2 class="ui header">Reactive Form</h2>
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)" class="ui form">
    <div class="field">
      <label for="skuInput">SKU</label>
      <input type="text" id="skuInput" name="sku" placeholder="SKU" ngModel>
    </div>
  </form>
</div>